<div class="flex justify-center">
  <div class="container">
    <ng-container *ngrxLet="vm$ as data">
      <ng-container *ngIf="data!.error; else noError">
        <app-todos-alert></app-todos-alert>
      </ng-container>
      <ng-template #noError>
        <ng-container *ngIf="data!.loaded; else spinner">
          <app-todos-grid
            [data]="data!.todos"
            (handleAcions)="onHandleAcions($event)"
          ></app-todos-grid>
        </ng-container>
        <ng-template #spinner>
          <app-todos-spinner></app-todos-spinner>
        </ng-template>
      </ng-template>
      <app-todos-form
        [data]="todo$ | ngrxPush"
        (submitted)="handlerSubmit($event)"
      ></app-todos-form>
    </ng-container>
  </div>
</div>
